h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0
}

.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 300;
    position: relative
}

.section-header h3 span {
    font-weight: 600
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 17px;
    
    color: #556877;
    width: 50%
}

.bt {
    border-radius: 86px;
    background: #4f556d	;
    width: 100%;
    box-shadow: 49px 49px 98px #b5b5b5, -49px -49px 98px #ffffff;
    font-family:cursive;
    color: #ffffff;
}
div.scrollmenu {
    text-align: right;
    border-radius: 0px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  14px 14px 10px #c2c2c2, 
             -10px -10px 10px #ffffff;
    
  }
  
  div.scrollmenu a {
    display: inline-block;
    color:#333;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color:rgba(79, 85, 109,0.55);
    
  }
  .rouge{
    background-color: red;
  }
 
.ar{
  width: 100%;
  height: 270px;
  margin-top: 15px;
}
body{
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
    
}

#wrapper table 
{
  border-collapse: unset;
}
#wrapper th
{
  border: 2px solid black;
  text-align: center;
  background-color:rgba(79, 85, 109,0.55);
}
#wrapper td
{
  border: 2px solid black;
  text-align: center;
}
section
{
  position: absolute;
  left: 0;
  height: 500px;
  
  width: 1000px;
}
aside
{
  position: absolute;
  left: 1000px;
  height: 500px;
 
  width: 400px;
}
#hh{
  border-radius: 20px;
  height: 500px;
  
  box-shadow: 10px 10px 20px #b5b5b5, -10px -10px 20px #ffffff;
  font-family:cursive;
  color: #4f556d; 
}